<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>我的投票</title>
    {include file="public/style" /}
    <style type="text/css">
        .zwu_img img {
            border-radius: 100px;
            height: 70px;
            width: 70px;
        }
    </style>
</head>

<body id="vote">
    <div class="usertp">
        <div class="usertp_list">
            {volist name="vote" id="vo"}
            <div class="usertp_item">
                <div class="ui_l" onclick=window.location.href="{:url('mobile/Vote/index',['id'=>$vo->competes[0]['id']])}">
                    <div class="uil_img">
                        <img src="{$vo->competes[0]['thumb']}" alt="">
                    </div>
                    <div class="uil_mc">
                        <h5>{$vo->competes[0]->parent[0]['name']}</h5>
                        <p>{$vo->competes[0]['name']}</p>
                    </div>
                </div>
                <div class="ui_r">
                    <i class="fa fa-trash-o" @click="delVote({$vo->id},{$vo->competes[0]['id']},{$vo->ticket})"></i>
                    <div class="ui_tps">{$vo->ticket}票</div>
                </div>
            </div>
            {/volist}
        </div>
    </div>
</body>
<script>
   var vn = new Vue({
    el: '#vote',
    methods: {
      delVote: function(id,cid,ticket){
        layer.open({
            content: '你取消投票？',
            btn: ['确认', '取消'],
            shadeClose: true,
            yes: function(index){
                $.ajax({
                    type: "POST",
                    url: '{:url("mobile/member/delVote")}',
                    dataType: 'json',
                    cache: false,
                    data: {id:id,cid:cid,ticket:ticket},
                    success: function(data) {
                          if(data.status > 0){
                            layer.msg('取消成功');
                            location.reload();
                            layer.close(index);
                          }else{
                              layer.msg(data.msg);
                          }
                    },
                    error: function(xhr, status, error) {
                          layer.msg('系统错误');
                    }
                });
            }, no: function(){
                layer.msg('取消');
            }
        });
      },
    }
  })
</script>
</html>
